  /*SET UP*/ 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    max-width: 1440px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2px 5vw;
    padding-bottom: 10%;
    background: linear-gradient(90deg, #3E4044 0%, #28292F 100%);

  }
  header {
    max-width: 1196px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon-Nike-header {
    width: 60px;
    height: 60px;
}
main {
        max-width: 1196px;
        min-height: 60px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        justify-content: space-between;
}
.aqua {
    color: #89FFFD;
}
.section {
    width: 90vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h1 {
    width: 414px;
    height: 196px;
    font-family: Montserrat;
    font-size: 161px;
    font-weight: 800;
    text-align: left;
    color: #89FFFD;
}
h3 {
    width: 514px;
    height: 51px;
    font-family: Montserrat;
    font-size: 41px;
    font-weight: 800;
    text-align: left;
    color: #FFFFFF;
}
.membership {
    font-family: Montserrat;
    font-size: 41px;
    font-weight: 300;
    text-align: left;
}
.first-paragraph {
    width: 433px;
    height: 84px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: white;
}
 .button-pink {
    width: 172px;
    height: 50px;
    border-radius: 6px 0px 0px 0px;
    background-color: rgb(225, 22, 154);
    color: white;
}
.accueil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div1 {
    align-self: flex-start;
}
.grand-image {
    /*width: 936px;
    height: 601px;*/
    align-self: center;
}
.images-column {
    display:flex;
    flex-direction: column;
    align-self: flex-end;
    opacity: 0px;
}
.images-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    clear: both;
    width: 30vw;
    height: 5vh;
    border: 1px 0px 0px 0px;
    border: 1px solid #FFFFFF
}
.img-shoe {
   /* width: 378px;
    height: 378px;*/
    width:10vw;
    height: 5vh;   
}
.vente {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.image-vente {
    width: 378px;
    height: 378px;
    opacity: 0px;
}
.icon {
    width: 25px;
    height: 25px;
}
.grid {
    display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4, 1fr);
	gap: 0;
}
.item1 {
    grid-row: 1 / span 2;
    grid-column: 2 span;
  }
  
  .item2 {
    grid-column: 3 span;
    grid-row: 1 / span 3;
  }
  .item5 {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
footer {
    width: 1196px;
    height: 269px;
    color: white;
}
.footer1 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}